body {
  margin: 0;
}

* {
  color: rgba(0, 0, 0, 0.75);
  font-family: 'Gothic A1', sans-serif;
  line-height: 1.4;
  user-select: none;
  -webkit-user-drag: none;
}

a {
  color: unset;
  text-decoration: none;
  transition: all 0.2s ease-in;
}

a:hover,
a:focus {
  color: rgba(18, 125, 255);
  text-shadow: 
    #fff -3px -3px 16px,
    rgba(18, 125, 255) 3px 3px 24px;
}

button,
input {
  border: none;
}

button:focus,
input:focus {
  outline: none;
}

.page {
  background-color: #f4f4f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.illust {
  width: 454px;
}

.title {
  margin: 0;
  margin-top: 30px;
  font-size: 1.65rem;
  color: #2d8cff;
  text-shadow:
    #fff -3px -3px 16px,
    rgba(18, 125, 255, 0.8) 3px 3px 24px;
}

.paragraph {
  margin: 0;
  font-size: 1.1rem;
  margin-bottom: 20px;
  text-shadow:
    #fff -3px -3px 10px,
    rgba(0, 0, 0, 0.45) 3px 3px 12px;
}

.input-wrapper,
.selector-wrapper {
  border-radius: 45px;
  padding: 20px;
  background-color: #dee6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  margin-bottom: 20px;
  box-shadow:
    rgba(255, 255, 255, 0.25) -4px -4px 15px,
    rgba(74, 156, 255, 0.35) 0px 4px 18px;
}

.input,
.selector {
  box-sizing: border-box;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: transparent;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  color: rgb(13, 12, 61);
  cursor: pointer;
}

.input:focus,
.selector:focus {
  outline: 0;
}

.input {
  width: 22rem;
}

.input#password-input {
  -webkit-text-security: disc;
}

.selector {
  width: 10rem;
  margin-left: -8px;
}

.button {
  color: white;
  border-radius: 45px;
  padding: 20px;
  width: 200px;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  cursor: pointer;
  background-color: #2d8cff;
  box-shadow: rgba(18, 125, 255, 0.5) 0px 3px 16px;
  transition: all 0.2s ease-in;
  text-shadow: rgba(18, 125, 255, 0.5) 0px 3px 16px;
}

.toast {
  min-width: 300px;
  box-shadow: rgba(13, 12, 61, 0.15) 4px 4px 22px !important;
  color: rgba(13, 12, 61, 0.8) !important;
  border-radius: 20px !important;
  word-break: keep-all;
}

.button:hover,
.button:focus {
  background-color: rgba(18, 125, 255);
}

#login-container {
  display: none;
  flex-direction: column;
  align-items: flex-end;
}

#service-container {
  display: none;
  flex-direction: column;
  align-items: center;
}

footer {
  color: rgba(0, 0, 0, 0.12);
  margin-top: 20px;
}

@media screen and (max-width: 568px) {
  .illust {
    width: 80%;
  }

  .title {
    font-size: 1.35rem;
    margin-top: 20px;
  }

  .button,
  .paragraph {
    font-size: 0.85rem;
  }

  .button {
    padding: 15px;
  }

  .input {
    width: 92%;
  }

  .toast {
    min-width: 72%;
  }

  footer {
    font-size: 0.8rem;
  }
}

@-moz-document url-prefix() {
  .selector {
    -webkit-appearance: none;
  }

  .toast {
    width: max-content;
  }
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

_::-webkit-full-page-media, _:future, :root .selector {
  -webkit-appearance: none;
}
